<!DOCTYPE html>
<html lang="en">

    <!--
        <head>
        <script src="public/javascripts/main.js"></script>
        <link rel="stylesheet" href="public/stylesheets/main.css">
        <title>Work Life Balance</title>
    </head>
    -->

    <body>
        {{#each brokers as |b|}}
        <p> {{b.id}} - {{b.host}}:{{b.port}} </p>
        {{/each}}
        <br>
        {{#each topics}}
        <p> {{@key}} </p>
            {{#each-sorted this as |partition|}}
            <p> {{partition.id}} </p>
            {{/each-sorted}}
        {{/each}}
        </div>
    </body>
</html>
